# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code settings
.vscode/

# DotNet specific
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Backup & Report files
*.bak
*.swp
*~

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Others
*.vs/