# Global
JWT_PRIVATE_KEY="<min-32-char-random-secret>"
MEDIATR_LICENSE_KEY="<your-mediatr-license-key>"
ADMIN_EMAIL="<admin-email>"
ADMIN_PHONE="<admin-phone>"

# Postgres
POSTGRES_USER="<postgres-username>"
POSTGRES_PASSWORD="<postgres-password>"
POSTGRES_DATABASE="<postgres-database>"

# User service
USER_SERVICE_POSTGRES_CONNECTION_STRING="Host=ittrap-postgres.postgres.svc.cluster.local;Port=5432;Database=user;Username=<postgres-username>;Password=<postgres-password>"

# Identity service
IDENTITY_SERVICE_POSTGRES_CONNECTION_STRING="Host=ittrap-postgres.postgres.svc.cluster.local;Port=5432;Database=identity;Username=<postgres-username>;Password=<postgres-password>"
IDENTITY_SERVICE_PASSWORD_PEPPER="<random-pepper-string>"

# Inventory service
INVENTORY_SERVICE_POSTGRES_CONNECTION_STRING="Host=ittrap-postgres.postgres.svc.cluster.local;Port=5432;Database=inventory;Username=<postgres-username>;Password=<postgres-password>"
INVENTORY_SERVICE_MONGO_CONNECTION_STRING="mongodb://<mongo-username>:<mongo-password>@ittrap-mongo.mongo.svc.cluster.local:27017"

# Mongo
MONGO_INITDB_ROOT_USERNAME="<mongo-username>"
MONGO_INITDB_ROOT_PASSWORD="<mongo-password>"

# Location service
LOCATION_SERVICE_POSTGRES_CONNECTION_STRING="Host=ittrap-postgres.postgres.svc.cluster.local;Port=5432;Database=location;Username=<postgres-username>;Password=<postgres-password>"

# Management service
MANAGEMENT_SERVICE_POSTGRES_CONNECTION_STRING="Host=ittrap-postgres.postgres.svc.cluster.local;Port=5432;Database=management;Username=<postgres-username>;Password=<postgres-password>"

# SMTP
SMTP_HOST="<smtp-host>"
SMTP_PORT="<smtp-port>"
SMTP_USERNAME="<smtp-username>"
SMTP_PASSWORD="<smtp-password>"
SMTP_FROM_EMAIL="<from-email>"
SMTP_FROM_NAME="<from-name>"
SMTP_USE_SSL="<true|false>"

# AWS
AWS_ACCESS_KEY_ID="<aws-access-key-id>"
AWS_SECRET_ACCESS_KEY="<aws-secret-access-key>"
